body {
    border: 5px solid red;
    margin: 0;
    width: 500px;
}
h1 {
    border: 5px solid green;
}
h2 {
    border: 5px solid yellow;
}
hr {
    border: 5px solid orange;
}
div {
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
}
li {
    margin: 0;
}
ol {
    background-color: salmon;
}
.blue {
    background-color: blue;
    
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}