body {
    border: 5px solid red;
    margin: 0;
    width: 500px;
}
h1 {
    border: 5px solid green;
    width: 300px;
}
div {
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
}
p {
    margin: 0;
}
.red {
    background-color: red;
    
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}